<!-- Main -->
<div id="main">

    <!-- One -->
    <section id="one" class="tiles">
        <article>
            <span class="image">
                  <img src="./assets/images/pic01.jpg" alt="" />
                </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Getting Started</a></h3>
                <p>Welcome to League of Legends, summoner. Here you'll find all the basic information you need to get set up and hit the Fields of Justice.</p>
            </header>
        </article>
        <article>
            <span class="image">
                  <img src="./assets/images/getting-started/guide.jpg" alt="" />
                </span>
            <header class="major">
                <h3><a href="landing.html" class="link">New Player Guide</a></h3>
                <p>The new player guide will introduce you to the control scheme and core League of Legends gameplay. It will also walk you through the in-game tutorials and your first battles on the Fields of Justice. From competition against the bots to
                    your first head to head experience, the new player guide will help you learn the skills you need to take on other summoners.</p>
            </header>
        </article>
        <article>
            <span class="image">
                  <img src="./assets/images/getting-started/summoner.gif" alt="" />
                </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Become a Summoner</a></h3>
                <p>You can customize your summoner through different summoner spells or runes resulting in thousands of different combinations for your champ so you can find the one that suits your individual playstyle.</p>
            </header>
        </article>
        <article>
            <span class="image">
                  <img src="./assets/images/getting-started/chat.jpg" alt="" />
                </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Chat Commands</a></h3>
                <p>Find out all the basic commands you can use in chat in order to optimize your communication as much as possible.</p>
            </header>
        </article>
        <article>
            <span class="image">
                <img src="./assets/images/getting-started/communicate.png" alt="" />
              </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Interracting with Players</a></h3>
                <p>Through PvP.net you'll have access to a number of social features that help you find teammates, communicate with other summoners and invite your real life friends to play.</p>
            </header>
        </article>
        <article>
            <span class="image">
              <img src="./assets/images/getting-started/code.jpg" alt="" />
            </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Summoners Code</a></h3>
                <p>Here you will learn the summoner's code. It will teach you how to become a teamplayer and be friendly to the community. All players are oblidged to follow the summoner's code and breaking it will result in severe penalties.
                </p>
            </header>
        </article>
    </section>

    <!-- Two -->
    <section id="two">
        <div class="inner">
            <header class="major">
                <h2>Go back to the home page</h2>
            </header>
            <ul class="actions">
                <li><a href="/#/home" class="button next">Home</a></li>
            </ul>
        </div>
    </section>

</div>