<header id="header" class="alt">
    <a href="index.html" class="logo"><strong>LEAGUE</strong> <span>OF LEGENDS</span></a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Menu -->
<nav id="menu">
    <ul class="links">
        <li><a href="index.html">Get Started</a></li>
        <li><a href="landing.html">Champions</a></li>
        <li><a href="generic.html">Items</a></li>
        <li><a href="elements.html">Summoners</a></li>
        <li><a href="elements.html">Game Modes</a></li>
    </ul>
    <ul class="actions vertical">
        <li><a href="#" class="button special fit">Get Started</a></li>
        <li><a href="#" class="button fit">Play Now</a></li>
    </ul>
</nav>