<!-- Banner -->
<section id="banner" class="major">
    <div class="inner">
        <header class="major">
            <h1>Getting Started in League of Legends</h1>
        </header>
        <div class="content">
            <p>A lot goes into a successful battle on the Fields of Justice. In the new player guide, you’ll learn how to control your champion, the structures you’ll encounter on the battlefield and play through the tutorial process. When you’re ready,
                you’ll enter the fray in your first game of competitive League of Legends.</p>
            <ul class="actions">
                <li><a href="#/getting-started" class="button next scrolly">Get Started</a></li>
            </ul>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
    <section id="one" class="tiles">
        <article>
            <span class="image">
                    <img src="./assets/images/pic01.jpg" alt="" />
                  </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Champions</a></h3>
                <p>League of Legends features an everexpanding roster of champions, each with a unique design and playstyle. Here you can browse the current lineup and find out more about characters that interest you.</p>
            </header>
        </article>
        <article>
            <span class="image">
                    <img src="./assets/images/pic02.jpg" alt="" />
                  </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Items</a></h3>
                <p>Here you can find information about the tons of items in the game.</p>
            </header>
        </article>
        <article>
            <span class="image">
                    <img src="./assets/images/pic03.jpg" alt="" />
                  </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Customize your summoner</a></h3>
                <p>You can customize your summoner through different summoner spells or runes resulting in thousands of different combinations for your champ so you can find the one that suits your individual playstyle.</p>
            </header>
        </article>
        <article>
            <span class="image">
                    <img src="./assets/images/pic04.jpg" alt="" />
                  </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Game Modes</a></h3>
                <p>Battlefields fall into several primary game modes: Classic and Dominion. Classic game mode requires you to destroy the enemy's nexus while defending your own. A game of Dominion requires you to hold the majority of capture points on the
                    map to damage the enemy nexus.</p>
            </header>
        </article>
    </section>

    <!-- Two -->
    <section id="two">
        <div class="inner">
            <header class="major">
                <h2>Join us today</h2>
            </header>
            <p>The community is massive and very friendly. Join over 100 million active monthly players on their conquest to become the best on the rift. Your friends are probably there too. </p>
            <ul class="actions">
                <li><a href="landing.html" class="button next">Join Now</a></li>
            </ul>
        </div>
    </section>

</div>