<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="http://www.youtube.com/user/riotgamesinc" class="icon alt fa-youtube"><span class="label">Youtube</span></a></li>
            <li><a href="https://twitter.com/loleu" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="http://www.facebook.com/leagueoflegends" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Riot Games</li>
            <li>Design: <a href="https://simeonnakov.ml">Simeon Nakov</a></li>
        </ul>
    </div>
</footer>